* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-page{
    padding-top: 6%;
}

.form-box {
    min-width: 340px;
    min-height: 300px;
    width: fit-content;
    position: relative;
    margin: auto;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    overflow: hidden;
    border-radius: 50px;
}

.button-box {
    width: fit-content ;
    height: auto;
    margin: 5% auto;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
    justify-content: center;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    color: white;
    border: 0;
    outline: none;
    position:relative;
    text-decoration: none;
    display: inline-block;
}

.active-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    color: white;
    border: 0;
    outline: none;
    position:relative;
    text-decoration: none;
    display: inline-block;
    background: #DF0F73;
    border-radius: 50px;
}


.input-group-login {
    all: none;
    left: 15%;
    top: auto;
    position: relative;
    width: 70%;
    transition: 0.5s;
}


.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid white; 
    color: white;
    outline: none;
    background: transparent;
    text-align: center;
}

.input-field::placeholder {
    color: white;
    opacity: 0.6
}
.input-field:focus {
    outline: none !important;
    border-color: #DF0F73;
    border-radius: 10px;
    box-shadow: 0 0 10px #fdcdef;
}

.submit-btn {
    width: 100%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #DF0F73;
    border: 0;
    outline: none;
    border-radius: 30px;
    margin-top: 15%;
    color: #fff;
    opacity: 0.7;
}

.submit-btn:hover{
    opacity: 1;
}
.submit-btn:active{
    opacity: 0.8;
}

.error {
    position: relative;
    padding: 1% 10%;
    border-radius: 6px;
    background-color: #fc0202;
    color: white;
    display: inline-block;
}




