* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Niconne';
}

.register-page {
    padding-top: 6%;
}

.form-box {
    min-width: 520px;
    min-height: 480px;
    width: fit-content;
    position: relative;
    margin: auto;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    overflow: hidden;
    border-radius: 50px;
}

.button-box {
    width: fit-content;
    height: auto;
    margin: 5% auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}


.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    color: white;
    border: 0;
    outline: none;
    position: relative;
    text-decoration: none;
}

.active-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    color: white;
    border: 0;
    outline: none;
    position: relative;
    text-decoration: none;
    display: inline-block;
    background: #DF0F73;
    border-radius: 50px;
}


.input-group-register {
    left: 15%;
    top: auto;
    position: absolute;
    width: 70%;
    transition: 0.5s;
}



.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid white;
    color: white;
    outline: none;
    background: transparent;
    text-align: center;
    /* border-color: red; */
}

.input-field::placeholder {
    color: white;
    opacity: 0.6
}
.input-field:focus {
    outline: none !important;
    border-color: #DF0F73;
    border-radius: 10px;
    box-shadow: 0 0 10px #fdcdef;
}


.checkbox {
    position: absolute;
    left: 30%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding-top: 15%;
    width: fit-content;
  font-size: 20px;
}

.checkbox input[type='checkbox'] {
    position: relative;
    width: 6vh;
    height: 2.2vh;
    -webkit-appearance: none;
    background: white;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    transition: .5s;
}

.checkbox input:checked[type='checkbox'] {
    background: #DF0F73;
}

.checkbox input[type='checkbox']:before {
    content: '';
    position: absolute;
    width: 2.2vh;
    height: 2.2vh;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: #DF0F73;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transition: .5s;
}

.checkbox input:checked[type='checkbox']:before {
    left: 4vh;
    background: #fff;
}

.checkbox label {
    padding-left: 20px;
}

.submit-btn {
    width: 100%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #DF0F73;
    color: #fff;
    border: 0;
    outline: none;
    border-radius: 30px;
    margin-top: 25%;
    opacity: 0.7;
}

.submit-btn:hover {
    opacity: 1;
}

.submit-btn:active {
    opacity: 0.8;
}

.error {
    position: relative;
    padding: 1% 10%;
    border-radius: 6px;
    background-color: #fc0202;
    color: white;
    display: inline-block;
}

.errorBox{
    position: absolute;
    left: 41%;
    top: 20px;
    width: fit-content;
    height: 50px;
    padding-top: 10px;
    background-color: #fc0202;
    border-radius: 10px;
}

.errorBox p{
    color: #fff;
    font-size: 20px;
}

